@import "../../../variables.scss";

.signature-clip {
  .clip-stroke {
    stroke: inherit;
    stroke-width: 1;
  }
}

.signature-stroke {
  stroke: inherit;
  stroke-linecap: round;
  fill: none;

  .stroke-J,
  .stroke-dot,
  .stroke-W,
  .stroke-ong {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 0;
    transition: $animatetime1;
  }
}

@mixin show-signature() {
  .signature-stroke {
    .stroke-J {
      stroke-dashoffset: 200;
      stroke-width: 10;
    }

    .stroke-dot {
      stroke-dashoffset: 950;
      stroke-width: 10;
    }

    .stroke-W {
      stroke-dashoffset: 0;
      stroke-width: 10;
    }

    .stroke-ong {
      stroke-dashoffset: 0;
      stroke-width: 10;
    }
  }
}

@mixin animate-signature-stroke() {
  .signature-stroke {
    .stroke-J {
      transition: $animatetime2 $animatetime2;
    }

    .stroke-dot {
      transition: $animatetime1 $animatetime2 * 2;
    }

    .stroke-W {
      transition: $animatetime2 * 2 $animatetime2 * 3;
    }

    .stroke-ong {
      transition: $animatetime2 * 2 $animatetime2 * 5;
    }
  }
}
