@import "../../../variables.scss";

.signature-clip {
  .clip-stroke {
    stroke: $black;
    stroke-width: 1;
  }
}

.signature-stroke {
  stroke: $black;
  stroke-linecap: round;
  fill: none;

  .stroke-J,
  .stroke-dot,
  .stroke-W,
  .stroke-ong {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 0;
    transition: $animatetime1;
  }

  .stroke-J {
    animation: show-J 3s forwards;
  }

  .stroke-dot {
    animation: show-dot 3s forwards;
  }

  .stroke-W {
    animation: show-W 3s forwards;
  }

  .stroke-ong {
    animation: show-ong 3s forwards;
  }
}

@keyframes show-J {
  0% {
    stroke-dashoffset: 1000;
    stroke-width: 0;
  }
  20%,
  100% {
    stroke-dashoffset: 200;
    stroke-width: 10;
  }
}

@keyframes show-dot {
  0%,
  20% {
    stroke-dashoffset: 1000;
    stroke-width: 0;
  }
  30%,
  100% {
    stroke-dashoffset: 950;
    stroke-width: 10;
  }
}

@keyframes show-W {
  0%,
  30% {
    stroke-dashoffset: 1000;
    stroke-width: 0;
  }
  60%,
  100% {
    stroke-dashoffset: 0;
    stroke-width: 10;
  }
}

@keyframes show-ong {
  0%,
  50% {
    stroke-dashoffset: 1005;
    stroke-width: 4;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 10;
  }
}
