@import "../../../variables.scss";

#hero-wrapper {
  position: fixed;
  top: 0px;
  outline: none;

  #hero {
    position: absolute;
    width: 75px;
    height: 90px;
    background-size: 600%;
    background-position: -75px -180px;
    image-rendering: pixelated;
    transition: top $animatetime2 * 4 ease-in, left $animatetime2 linear;

    &.landed {
      animation: hero-jump $animatetime2 steps(1),
        $animatetime2 * 4 hero-idle $animatetime2 steps(1) infinite;
    }

    &.running {
      animation: hero-run $animatetime1 * 2 steps(1) infinite;
    }

    &.dragging {
      background-position: 0px -180px;
      transition: top 0s, left 0s;
    }

    &.faceleft {
      transform: scaleX(-1);
    }
  }
}

@keyframes hero-idle {
  0%,
  100% {
    background-position: 0px 0px;
  }
  30% {
    background-position: -75px 0px;
  }
  40% {
    background-position: -150px 0px;
  }
  45% {
    background-position: -225px 0px;
  }
}

@keyframes hero-run {
  0% {
    background-position: 0px -90px;
  }
  16% {
    background-position: -75px -90px;
  }
  33% {
    background-position: -150px -90px;
  }
  50% {
    background-position: -225px -90px;
  }
  66% {
    background-position: -300px -90px;
  }
  83% {
    background-position: -375px -90px;
  }
  99% {
    background-position: -450px -90px;
  }
}

@keyframes hero-jump {
  0% {
    background-position: -150px -180px;
  }
  33% {
    background-position: -225px -180px;
  }
  66%,
  100% {
    background-position: -300px -180px;
  }
}
