@import "../../variables.scss";

section {
  position: relative;
  padding: 40px;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: $pagewidth;
  min-height: 100vh;

  .headline {
    display: inline-block;
    width: 90%;
    max-width: 450px;
  }

  .title {
    display: inline-block;
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 20px;
    font-weight: lighter;
    line-height: 28px;
  }

  .list {
    display: inline-block;
    padding: 60px 0px;
    width: 100%;
  }

  @include mobile() {
    .title {
      font-size: 36px;
    }

    .subtitle {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
