@import "../../variables.scss";
@import "../components/signature/style.scss";

#contact {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 100%;
  background-color: $shadow;
  opacity: 0;
  transition: left 0s $animatetime2, opacity $animatetime2;

  &.show {
    transition: left 0s, opacity $animatetime2;
    opacity: 1;
    left: 0px;

    .signature {
      @include show-signature();
    }
  }

  .signature {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 100%;
    transform: translate(-50%, -50%) rotate(-5deg);
    stroke: $white;
    opacity: 0.1;
    z-index: -1;
  }

  .button-panel {
    margin: 20vh auto 0px auto;
    width: 100%;
    max-width: 600px;
    text-align: center;

    &:hover .link {
      .icon {
        filter: blur(4px);
      }

      &:hover .icon {
        filter: none;
        transform: scale(1.2);
      }
    }

    .button-wrapper {
      display: inline-block;
      width: 33%;

      .link {
        display: inline-block;
        width: 100%;

        .icon {
          fill: $white;
          width: 50px;
          height: 50px;
          transition: filter $animatetime1, transform $animatetime1;
        }

        &:hover + .name {
          height: 60px;
          opacity: 1;
        }
      }

      .name {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 0px;
        font-size: 48px;
        transform: translate(-50%, -50%);
        color: $white;
        opacity: 0;
        overflow: hidden;
        transition: opacity $animatetime2, height $animatetime2;
      }
    }
  }
}
