@import "../../../variables.scss";

.shape-wrapper {
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation: show-shape 1s forwards;

  .shape {
    transform-origin: top left;
    &.float1 {
      animation: floating1 ease-in-out infinite alternate;
    }
    &.float2 {
      animation: floating2 ease-in-out infinite alternate;
    }
  }
}

@keyframes show-shape {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes floating1 {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  100% {
    transform: translateX(10%) rotate(30deg);
  }
}

@keyframes floating2 {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  100% {
    transform: translateX(-10%) rotate(-20deg);
  }
}
