@import "./variables.scss";

body {
  font-family: Montserrat, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: $lightergray;
  color: $black;

  #app {
    position: relative;
    min-height: 100vh;
    opacity: 0;
    animation: fade-in $animatetime2 forwards;
    overflow: hidden;

    #app-logo {
      position: fixed;
      top: 0px;
      left: 5%;
      width: 80px;
      height: 60px;
      stroke: $black;
      fill: $black;
      z-index: 1;
      transition: transform $animatetime2;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }

    #contact-toggle {
      display: inline-block;
      position: fixed;
      top: 0px;
      right: 5%;
      width: 100px;
      padding: 20px 0px;
      font-weight: bold;
      text-align: right;
      color: $black;
      z-index: 1;
      transition: transform $animatetime2;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      .open,
      .close {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        transition: width $animatetime2;
      }

      .close {
        width: 0px;
      }

      &.opened {
        color: $white;

        .open {
          width: 0px;
        }

        .close {
          width: 100%;
        }
      }
    }

    > section,
    > #app-logo {
      opacity: 1;
      transition: $animatetime2;

      &.hide {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    padding-top: 20px;
    opacity: 0;
  }
  to {
    padding-top: 0px;
    opacity: 1;
  }
}
