@import "./variables.scss";

body {
  font-family: Montserrat, sans-serif;
  margin: 0px;
  padding: 0px;

  #app {
    position: relative;
    min-height: 100vh;
    opacity: 0;
    animation: fade-in $animatetime2 forwards;
    overflow: hidden;
    background-color: $white;
    color: $black;
    stroke: $black;
    fill: $black;
    transition: color $animatetime2, stroke $animatetime2, fill $animatetime2;

    &.night {
      background-color: $night;
      color: $white;
      stroke: $white;
      fill: $white;
    }

    #app-header-wrapper {
      position: fixed;
      width: 100%;
      z-index: 1;

      #app-header {
        position: relative;
        max-width: $pagewidth;
        margin: auto;
        padding: 0px 40px;
        box-sizing: border-box;

        #app-logo {
          width: 80px;
          height: 60px;
          z-index: 1;
          transition: transform $animatetime2;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    #contact-toggle {
      display: inline-block;
      padding: 20px 0px;
      font-weight: bold;
      text-align: right;
      float: right;
      z-index: 1;
      cursor: pointer;

      .open,
      .close {
        display: inline-block;
        width: 100%;
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        transition: height $animatetime2;
        float: left;
      }

      .close {
        height: 0px;
      }

      &.opened {
        color: $white;

        .open {
          height: 0px;
        }

        .close {
          height: 20px;
        }
      }
    }

    > section,
    > #app-logo {
      opacity: 1;

      &.hide {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    padding-top: 20px;
    opacity: 0;
  }
  to {
    padding-top: 0px;
    opacity: 1;
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
