$white: #ffffff;
$lightergray: #fafafa;
$gray: #b0b0b0;
$black: #555555;

$headerheight: 60px;
$footerheight: 60px;

$animatetime1: 0.3s;
$animatetime2: 0.5s;

@mixin mobile() {
  @media only screen and (max-width: 650px) {
    @content;
  }
}
