$white: #ffffff;
$lightergray: #fafafa;
$lightgray: #dddddd;
$gray: #b0b0b0;
$darkergray: #555555;
$black: #222222;
$night: #070b34;
$shadow: rgba(0, 0, 0, 0.7);

$headerheight: 60px;
$footerheight: 60px;

$pagewidth: 1000px;

$animatetime1: 0.3s;
$animatetime2: 0.5s;

@mixin mobile() {
  @media only screen and (max-width: 650px) {
    @content;
  }
}
