@import "../../../variables.scss";

#gallery-container {
  font-size: 21px;
  max-width: $pagewidth;
  margin: auto;

  @include respond-to(mobile_landscape) {
    font-size: 16px;
  }

  #gallery-title {
    font-size: 48px;
    padding: 0px 40px;
    margin-top: 20px;
    float: left;

    @include respond-to(mobile_landscape) {
      font-size: 32px;
      text-align: center;
      float: none;
    }
  }

  #gallery-content {
    width: auto;
    overflow: hidden;
  }
}
