@import "../../../variables.scss";

.intro {
  min-height: 100vh;
}

.intro-headline {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px 20px;
  width: 100%;
  max-width: 450px;
  transform: translate(-50%, -50%);
  text-align: center;
  box-sizing: border-box;
}

.intro-title,
.intro-subtitle {
  display: inline-block;
  opacity: 0;
}

.intro-title {
  margin: 10px 0px;
  font-size: 28px;
  font-weight: bold;
  animation: intro-fade-in $fast 0s forwards;
}

.intro-subtitle {
  font-size: 21px;
  line-height: 28px;
  animation: intro-fade-in $fast $fast forwards;
}

@keyframes intro-fade-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
