@import "../../../variables.scss";

.inspiration-repo {
  .name {
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: letter-spacing $animatetime2;

    &:hover {
      letter-spacing: 10px;
    }
  }

  .content {
    position: relative;
    margin: 10px auto;
    max-width: 1000px;
    max-height: 20px;
    overflow: hidden;
    perspective: 1000px;
    transition: max-height $animatetime2;

    .detail {
      display: inline-block;
      position: relative;
      width: 50%;

      .description,
      .link {
        box-sizing: border-box;
        padding: 0px 20px;
        font-size: 20px;
        font-weight: lighter;
        line-height: 28px;
        opacity: 0;
        transition: opacity $animatetime2;
      }

      .link {
        display: inline-block;
        margin-top: 20px;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
      }
    }

    .video {
      display: inline-block;
      position: absolute;
      top: 50%;
      max-width: 50%;
      max-height: 100%;
      transform: translateY(-50%);
      border: 1px solid $darkergray;
      box-sizing: border-box;
      opacity: 0;
      z-index: -1;
      transition: opacity $animatetime2,
        transform $animatetime2 $animatetime2 / 2;
    }

    &.expanded {
      max-height: 90vh;

      .detail {
        .description,
        .link {
          opacity: 1;
          transition: opacity $animatetime2 $animatetime2 / 2;
        }
      }

      .video {
        opacity: 1;
        transition: opacity $animatetime2 $animatetime2 / 2,
          transform $animatetime2 $animatetime2 / 2;
      }
    }
  }

  &:nth-child(odd) {
    .content {
      .detail {
        text-align: right;
        border-right: 1px solid;

        .link {
          right: 0px;
        }
      }

      .video {
        left: 50%;
        box-shadow: 20px 0px 0px -5px $darkergray;
      }

      &.expanded {
        .video {
          transform: translateY(-50%)
            matrix3d(
              0.7109,
              0,
              0.70328,
              0,
              0,
              1,
              0,
              0,
              0.70328,
              0,
              0.7109,
              0,
              0,
              0,
              0,
              1.2
            );
        }
      }
    }
  }

  &:nth-child(even) {
    .content {
      .detail {
        margin-left: 50%;
        border-left: 1px solid;

        .link {
          left: 0px;
        }
      }

      .video {
        right: 50%;
        box-shadow: -20px 0px 0px -5px $darkergray;
      }

      &.expanded {
        .video {
          transform: translateY(-50%)
            matrix3d(
              0.7109,
              0,
              -0.703279,
              0,
              0,
              1,
              0,
              0,
              0.703279,
              0,
              0.7109,
              0,
              0,
              0,
              0,
              1.2
            );
        }
      }
    }
  }

  @include mobile() {
    .name {
      font-size: 24px;
    }

    .content {
      .detail {
        width: 100%;

        .description,
        .link {
          font-size: 16px;
          line-height: 21px;
        }

        .link {
          text-align: center;
        }

        .description {
          max-width: 500px;
          margin: auto;
          text-align: left;
        }

        .link {
          display: block;
          width: 100%;
          text-align: center;
        }
      }

      .video {
        display: none;
      }
    }

    &:nth-child(odd),
    &:nth-child(even) {
      .content {
        .detail {
          margin-left: 0px;
          border-left: none;
          border-right: none;
        }
      }
    }
  }
}
