@import "../../../variables.scss";

.inspiration-repo {
  .name {
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-align: center;
    cursor: pointer;
    transition: $animatetime2;

    &:hover {
      letter-spacing: 10px;
    }

    @include mobile() {
      font-size: 28px;
    }
  }

  .content {
    position: relative;
    margin: 10px 0px;
    max-height: 20px;
    overflow: hidden;
    perspective: 1000px;
    transition: $animatetime2;

    .detail {
      display: inline-block;
      box-sizing: border-box;
      padding: 0px 20px;
      width: 50%;

      @include mobile() {
        width: 100%;
        text-shadow: 1px 1px 0px $lightergray;
      }

      .description,
      .link {
        font-size: 20px;
        font-weight: lighter;
        line-height: 28px;
        color: transparent;
        transition: $animatetime2;

        @include mobile() {
          font-size: 16px;
          line-height: 21px;
        }
      }

      .link {
        display: inline-block;
        margin-top: 20px;
        font-weight: bold;
        text-decoration: none;
        color: $black;

        &:hover {
          letter-spacing: 5px;
        }

        @include mobile() {
          display: block;
          text-align: center;
        }
      }
    }

    .video {
      display: inline-block;
      position: absolute;
      top: 50%;
      max-width: 50%;
      max-height: 100%;
      transform: translateY(-50%);
      border: 1px solid $gray;
      box-sizing: border-box;
      opacity: 0;
      z-index: -1;
      transition: $animatetime1;

      @include mobile() {
        max-width: 100%;
      }

      :after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $black;
      }
    }

    &.expanded {
      max-height: 90vh;

      .detail {
        .description,
        .link {
          color: inherit;
        }
      }

      .video {
        opacity: 1;

        @include mobile() {
          opacity: 0.7;
        }
      }
    }
  }

  &:nth-child(even) {
    .content {
      .detail {
        margin-left: 50%;
        border-left: 1px solid $black;

        @include mobile() {
          margin-left: 0px;
          border-left: none;
        }
      }

      .video {
        right: 50%;
        box-shadow: -20px 0px 1px -5px $gray;

        @include mobile() {
          right: 0%;
        }
      }

      &.expanded {
        .video {
          transform: translateY(-50%)
            matrix3d(
              -0.7109,
              0,
              0.703279,
              0,
              0,
              1,
              0,
              0,
              0.703279,
              0,
              0.7109,
              0,
              0,
              0,
              0,
              1.2
            );
        }
      }
    }
  }

  &:nth-child(odd) {
    .content {
      .detail {
        text-align: right;
        border-right: 1px solid $black;

        @include mobile() {
          text-align: center;
          border-right: none;
        }
      }

      .video {
        left: 50%;
        box-shadow: 20px 0px 1px -5px $gray;

        @include mobile() {
          left: 0%;
        }
      }

      &.expanded {
        .video {
          transform: translateY(-50%)
            matrix3d(
              0.7109,
              0,
              0.70328,
              0,
              0,
              1,
              0,
              0,
              0.70328,
              0,
              0.7109,
              0,
              0,
              0,
              0,
              1.2
            );
        }
      }
    }
  }
}
