@import "../../../variables.scss";

.logo-group {
  .logo-path,
  .logo-dot {
    stroke: $black;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 0;
    fill: none;
    transition: $animatetime1;
  }

  .logo-path {
    stroke-width: 10;
    animation: show-logo-path 2s linear forwards;
  }

  .logo-dot {
    fill: $black;
    opacity: 0;
    animation: show-logo-dot 2s linear forwards;
  }
}

@keyframes show-logo-path {
  0% {
    stroke-dashoffset: 1000;
  }
  75%,
  100% {
    stroke-dashoffset: 650;
  }
}

@keyframes show-logo-dot {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
