@import "../../../variables.scss";

.module-repo {
  .name {
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 4px;
    white-space: nowrap;
    cursor: pointer;
    transition: $animatetime2;

    &:hover {
      letter-spacing: 10px;
    }
  }

  .detail {
    margin: 10px 0px 10px 20px;
    max-height: 20px;
    overflow: hidden;
    border-left: 1px solid;
    transition: $animatetime2;

    &.expanded {
      max-height: 300px;

      .description,
      .link {
        color: inherit;
      }
    }

    .description,
    .link {
      padding: 0px 20px;
      font-size: 20px;
      font-weight: lighter;
      letter-spacing: 1.5px;
      line-height: 28px;
      color: transparent;
      transition: $animatetime2;
    }

    .description {
      max-width: 600px;
    }

    .link {
      display: inline-block;
      margin-top: 20px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        letter-spacing: 5px;
      }
    }
  }

  @include mobile() {
    .name {
      font-size: 24px;
    }

    .detail {
      .description,
      .link {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
}
